<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css" />

    <title>About</title>
</head>

<body>
    {{>header}}
    <div class="other-wrapper">
        <div class="about">This is the about page</div>
        <div class="about">{{title}}</div>
        <div class="about">{{name}}</div>
    </div>

</body>

</html>