<header>
    <nav class="navbar">
        <ul class="navigation">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/about">About</a></li>
            <li class="item"><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>
<div class="bgImage"></div>